.Page-header-wrap {
  background-color: #222;
}

.Page-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  width: 800px;
  margin: 0 auto;
  padding: 0px;
  color: white;
}

.Page-logo {
  animation: Page-logo-spin infinite 20s linear;
  height: 60px;
}

.Page-header img {
  align-self: center;
}

.Page-header button {
  background: none;
  color: white;
  border: 1px solid white;
  padding: 3px 10px;
  cursor: pointer;
}

.Page-header button:active {
  border-color: #00BFFF;
  color: #00BFFF;
}